.body-display{
    width: 100%;
    height: 10%;
    padding:1%;
}
.productContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    margin: 0 5%;
}
 .productContainer::-webkit-scrollbar {
     height: 0;
     width: 0;
     overflow: scroll;
     scrollbar-width: none;
     -ms-overflow-style: none;
 }
.item-product{
    background-color: white;
    width: auto;
    border-radius: 15px;
    padding: 15px;
    margin: 0 0 0 15px;
}
.imgProduct{
    width: 500px;
    height: 150px;
    margin: 1%;
    border-radius: 15px;
    background-color: aqua;
}
.nameProduct{
    font-size: 0.9em;
    font-family: roboto;
    font-weight: bold;
    text-align: center;
    color: black;
    height: 3em;
    margin: 20px 0;
        width: 150px;
}
.priceProduct{
    font-size: 1.1em;
    font-family: roboto;
    font-weight: bold;
    color: black;
}
.soldCountProduct{
    color: gray;
    font-size: 0.5em;
    font-family: roboto;
    width: 150px;


}